* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #fff;
    height: 100%;
    font-size: 1.2em;
    font-family: Verdana, Tahoma, sans-serif;
    color: #180f2a;
    overflow: hidden;
}

#contenedor {
    background-image: url("Assets/1.png");
    background-position: top;
    position: relative;
    height: 100%;
    width: 100%;
    outline: 0;
    overflow: hidden;
}

.pantallamenu {
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.pantallamenu .grantitulo {
    display: flex;
    flex-direction: column;
}

.pantallamenu .grantitulo span {
    font-size: 2.4em;
    font-weight: 500;
    color: #223e65;
}

.pantallamenu .grantitulo p {
    padding: 0px 20px;
    font-size: 1.4em;
    font-weight: 200;
    color: #180f2a;
}

.pantallamenu .audiodiv {
    display: flex;
    margin: 0px !important;
    padding-right: 50px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.pantallamenu .audioon {
    background-image: url("Assets/audio_on.png");
    width: 60px;
    height: 60px;
}

.pantallamenu .audiomute {
    background-image: url("Assets/audio_mute.png");
    width: 60px;
    height: 60px;
}

/* Estilo de puntaje y botones */

.pantallamenu .puntaje {
    display: flex;
    background-color: #f14c38;
    margin: 10px 50px;
    padding: 10px 0px;
    font-size: 1.5em;
    color: #f4f1e0;
    border: 3px solid;
    border-color: #f4f1e0;
    flex-direction: row;
    justify-content: center;
}

.pantallamenu .puntaje .espaciado {
    margin-right: 20px;
}

.pantallamenu .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantallamenu .botones button {
    background: #f4f1e0;
    width: 350px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #180f2a;
    margin-bottom: 15px;
    padding: 15px 0px;
    border-radius: 15px;
}

/* Agregar efecto al colocar cursor sobre botones */

.pantallamenu .botones button:hover {
    background-color: #180f2a;
    color: #f4f1e0;
    cursor: pointer;
    box-shadow: 5px 5px 2px grey;
}
