* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #fff;
    height: 100%;
    font-size: 1.2em;
    font-family: luckiestguy, Verdana, Tahoma, sans-serif;
    color: #180f2a;
    overflow: hidden;
}

/* Agregar fuente luckiestguy */

@font-face {
    font-family: 'luckiestguy';
    src: url('Font/luckiestguy.ttf') format('truetype');
}

#contenedor {
    background-image: url("Assets/1.png");
    background-position: top;
    position: relative;
    height: 100%;
    width: 100%;
    outline: 0;
    overflow: hidden;
}

section {
    display: block;
}

/* Estilos que se compartirán en el menú */

.pantallamenu {
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.pantallamenu .grantitulo {
    display: flex;
    flex-direction: column;
}

.pantallamenu .grantitulo span {
    font-size: 2.4em;
    font-weight: 500;
    color: #223e65;
}

.pantallamenu .grantitulo p {
    padding: 0px 20px;
    font-size: 1.4em;
    font-weight: 200;
    color: #180f2a;
}

.pantallamenu .audiodiv {
    display: flex;
    margin: 0px !important;
    padding-right: 50px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

/* Estilos de los botones de audio */

.pantallamenu .audioon {
    background-image: url("Assets/audio_on.png");
    width: 60px;
    height: 60px;
}

.pantallamenu .audiomute {
    background-image: url("Assets/audio_mute.png");
    width: 60px;
    height: 60px;
}

/* Estilos de puntaje y botones */

.pantallamenu .puntaje {
    display: flex;
    background-color: #f14c38;
    margin: 10px 50px;
    padding: 10px 0px;
    font-size: 1.5em;
    color: #f4f1e0;
    border: 3px solid;
    border-color: #f4f1e0;
    flex-direction: row;
    justify-content: center;
}

.pantallamenu .puntaje .espaciado {
    margin-right: 20px;
}

.pantallamenu .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantallamenu .botones button {
    background: #f4f1e0;
    width: 350px;
    font-family: luckiestguy, Verdana, Tahoma, sans-serif;
    font-size: 1.3em;
    color: #180f2a;
    margin-bottom: 15px;
    padding: 15px 0px;
    border-radius: 15px;
}

/* Agregar efecto al colocar cursor sobre botones */

.pantallamenu .botones button:hover {
    background-color: #180f2a;
    color: #f4f1e0;
    cursor: pointer;
    box-shadow: 5px 5px 2px grey;
}

/* Acompaña a función "cambiaBackground" en script.js */

#cambiabackground {
    background-image: url("Assets/1.png");
    background-size: cover;
    transition: 1s ease-in-out;
    /* Para compatibilidad con mayoría de navegadores */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
}

/* Estilos del copyleft */

#copyleft {
    height: 100%;
    width: 100%;
}

#copyleft .color {
    color: #223e65;
}

#copyleft:hover span.copyright span {
    display: none;
}

#copyleft:hover span.copyright:after {
    content: "left ";
}

#copyleft:hover span.copy {
    display: inline-block;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* @media responsiva: para pantallas de tamaño standard (width: 480px) de celulares y tablets */

@media (max-width: 480px) {
    .audiodiv img {
        width: 45px;
        height: 45px;
    }
    .pantallamenu {
        margin-top: 20px;
    }
    .pantallamenu div {
        margin-top: 15px;
    }
    .pantallamenu .audiodiv {
        padding-right: 25px;
        margin: 0px !important;
    }
    .pantallamenu .grantitulo span {
        font-size: 2.2em;
    }
    .pantallamenu .grantitulo p {
        font-size: 1em;
    }
    .pantallamenu .puntaje {
        margin: 5px 20px;
        padding: 5px;
        font-size: 1.2em;
    }
    .pantallamenu .puntaje .espaciado {
        margin-right: 0px;
    }
    .pantallamenu .descripcion {
        font-size: 0.9em;
        margin: 0px 5px;
    }
    .pantallamenu .botones button {
        width: 300px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }
    #dulzura, #puntaje {
        padding-left: 10px;
        font-size: 1.2em;
    }
    .mensaje {
        margin: 5px 0px;
        font-size: 1.2em;
    }
}

#personajes div.dentrointrucciones {
    position: absolute;
    top: -900px;
    opacity: 0;
    transition: opacity 1s;
}

#personajes.current, #personajes.dentrointrucciones {
    width: 80%;
    margin: 5px auto;
}